@import 'src/styles.scss';

.g-signin2{

    

    font-family: $font-family-montserrat;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 15vw;
    height: 7.5vh;


    div{

        display: flex;
        justify-content: center;
        align-items: center;

        
        img {
            height: 30px;
        }

    } 

}
