@import 'src/styles.scss';



#carouselExampleControls{
    height: 90.5%;
    overflow: hidden;
    position: absolute;

}

img{
    opacity: 0.5;
}


.container-t{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: $font-family-bowlby;
    top:40vh;
    
    
    .title{
        font-size: xx-large;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}






