<div class='container1'>
    
    <img src='https://images3.alphacoders.com/812/812062.png' alt='r&m1'>


    <div class='bigger-content'>

        <div class='title'>
            <h1>THE </h1><h2>(non-official)</h2><h1> RICK & MORTY WIKI</h1>
        
        </div>


        <div class='content'>

            <div class='intro-text'>
                <p>¡INICIA SESIÓN CON TU CUENTA DE GOOGLE!</p>
            </div>

            <app-login-button (click)='googleLogin()'></app-login-button>
        </div>
    </div>
    

</div>

