

<h1>Coming soon!</h1>





<div class="content" fxLayout="row wrap" fxLayoutGap="10px grid" >
    <div fxFlex="23%" fxFlex.xs="20%" fxFlex.sm="20%" *ngFor="let c of characters">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{c.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{c.image}}" alt="{{c.name}}">
        <mat-card-actions>
          <button type="button" class="btn btn-primary" >Detalles</button>

        </mat-card-actions>
      </mat-card>
    </div>
</div>